@import url('https://fonts.googleapis.com/css2?family=Estonia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yuji+Mai&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

*{
    margin:0;
    padding:0;
}

.navbar
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top:0;
}
.navlist {
    width: 50%;
    display: flex;
    align-items:  center;
    list-style: none;

}
.logo{
    width:30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 38%;
    border: solid white;
    border-radius: 500px;
}


.navlist li {
    text-decoration: none;
   

}
.navlist li a {
    text-decoration: none;
    padding: 30px 20px;
    font-size: 28px;
    font-family: 'Architects Daughter', cursive;
    color: white;

  
}
.navlist li :hover{
    text-decoration: none;
    padding: 30px 20px;
    font-size: 30px;

    color: grey;

  
}

.rightnav{
    padding:0px 20px;
    width:50%;
    text-align:right ;
}

#search{
    font-size: 20px;
    padding: 3px 15px;
    border: 2px solid white;
    border-radius: 6px
}

.background{
    background: rgba(0,0,0,0.7) url('../images/pexels-photo-995301.jpeg');
    
     background-size:cover;
     overflow-y: scroll;
     overflow-y: hidden;
    background-blend-mode: darken;
}

.mainbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 75%;
}

.first{
    display: flex;
    flex-direction: column;
    color: white;
    font-family: sans-serif;
    font-size: 30px;
    padding-top: 20px;
    height: 40%;;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
  
}
.second{
    display: flex;
    flex-direction: column;
    color: white;
    font-family: sans-serif;
    font-size: 30px;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.firstSection{
    height: 100vh;
}
.GameIntro{
    white-space: pre-line;
    font-family: sans-serif;
    color:rgb(143, 64, 64);
    font-size: 30px;
    padding: 10px 10px;
    border: 3px solid grey;
    border-radius: 150px;
}


.Btn {
    cursor: pointer;
    background-color: transparent;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
    font-family: 'Architects Daughter', cursive;
}
.btn
{
 color:white;
 background-color: transparent;
 box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
white-space: normal;
font-size: 18px;
border-radius: 4px;
padding: 6px 6px;
}
.GameIntro:hover{
    color:rgb(235, 235, 235);
    border: 3px solid rgb(235, 235, 235);
}
.text
{
    padding-top:60px;
    font-size: 40px;
    font-family: 'Estonia', cursive;
}

.icons{
    display: flex;
    width:100%;
    margin:auto;
    align-items: baseline;
    justify-content:left;
    padding-top: 167px;
   

}

.Icon img{
    width:80px;
}
.i img{
   width:65px;
}
.g img{
    width:70px;
}
.Icon{
    border: none;
    background: none;
    margin:0 10px;
}
.Icon:hover
{
    border:1px solid gray;
}

.copyright{
    width:75%;
    align-items:baseline;
    justify-content: baseline;
    padding-top: 225px;
    color:whitesmoke;
    margin-bottom: 0px;
}

.bottom{
    display: flex;
   
}
.burger{
    display: none;
    align-items: center;
    justify-self: flex-start;
    margin-top: 5px;
    position: absolute;
    
}
.line{
    width:30px;
    background-color: white;
    height:5px;
    margin:4px 6px;
}

@media only screen and (max-width:800px){
.navbar{
    flex-direction: column;
    height: 330px;
    transition: 0.3s all ease-out;
}
.navlist{
    flex-direction: column;
    margin-top: 50px;

}
.navlist li{
    margin: 6px 0px;
}
.logo{
    width: 0px;
    margin: 0px 0px;

}
.burger{
    display: block;
}

.rightnav
{
display: flex;
flex-direction: column;
margin: auto
}
#search
{
 margin: 4px 0;
 width:60%;
 align-self:center;
}
.btn
{
    width: fit-content;
    margin-top:4px;
    align-self: center;
}
.nav_h{
    height: 41px;

}
.vclass{
   visibility: hidden;
}
.bottom{
    margin-top: auto;
    flex-direction: reverse;
    height: 10%;
    margin-bottom: 6px;
    
}
.icons{
    padding: 0;
    margin:0%;
    justify-content: right;
    align-items:flex-end;
    margin-bottom: 6px;
   
}
.Icon img{
    width: 35px;
}
.copyright{
    padding: 0px;
    margin:0px;
    font-size:10px;
    text-align: left;
    align-self: flex-end ;
   margin-bottom: 6px;
}
.mainbox{
    height: 90%;  
}

.correction{
    margin-bottom: 300px;
}
.resp{
    visibility: hidden;
}
.GameIntro{
    font-size: 24px;
}
.text{
    font-size: 24px;
}

}

/*lyrics.css*/
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Assistant:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
.background_lyrics{
    background: rgba(0,0,0,0.7) url('../images/pexels-photo-995301.jpeg')  no-repeat;
    background-size: cover;
    overflow-y: scroll;
    background-blend-mode: darken;
}
.background_lyrics::-webkit-scrollbar {
    display: none;
  }
  .background_lyrics {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
.main{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.options{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
.menu{
    padding: 5px 0px;
    margin-top: 60px;
    width: 100%;
    justify-content: center;
    width: fit-content;
    justify-self: center;
    padding: 6px 20px;
    font-size: 30px;
}
.heading{
    font-family: 'Architects Daughter', cursive;
    text-align: center;
    font-size: 50px;
    color: white;
    margin-top: 64px;
}
/*game.css*/
.question{
    width: fit-content;
    justify-self: right;
    margin-left: auto;
    margin-bottom: 20px;
    margin-top: 0px;
    margin-right: 10px;
    align-self:center;
}
.question img{
    width: 20px;
    background: transparent;
    text-align: right;
}
.score{
    width: 50%;
    text-align: left;
    font-family:'Architects Daughter', cursive;
    margin: 5px 10px;
    font-size: 30px;
    color:red;
}
.top{
    display: flex;
    width:100%
    /*margin: 20px 10px;*/
}
.que_btn{
    background:none;
    border: transparent;
    justify-content: flex-end;
    
}
.que_btn :hover{
    border: 2px solid grey;
    border-radius: 50px;
}
.level{
    text-align: center;
    font-family:'Architects Daughter', cursive;
    font-size: 40px;
    color:white;
    padding:4px 0px;
    height: fit-content;
}

.player{
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
    justify-content: center;
    align-items: center;
}
.details{
    font-size: 30px;
    color: white;
    text-align: center;
}
.track-art, .track-art img{
    width: 320px;
    height: 180px;
    border: 1px;
    background:none;
    margin: auto;
    border-radius: 15px;
    border: 1px solid white;
}




.track-name{
    padding:25px 5px;
}
.playpause-track .playpause-track img{
    width: 30px;
    height: 30px;
    border: 5px;
    background: white;
    margin: auto;
    border-radius: 250px;
    border: 1px solid black;
    margin-top:30px;
}

#playbtn{
    width: 30px;
    height: 30px;
    border: 5px;
    background: white;
    margin: auto;
    border-radius: 50px;
    border: 1px solid black;
    padding: 6px 6px;
    margin-top:30px;

}
.seek_slider, .volume_slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    background: white;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;

  }
  
  /* Modify the appearance of the slider thumb */
  .seek_slider::-webkit-slider-thumb, .volume_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: rgb(192, 130, 130);
    cursor: pointer;
    border-radius: 50%;
  }
  
  .seek_slider:hover, .volume_slider:hover {
    opacity: 1.0;
  }
  
  .seek_slider {
    width: 50%;
    margin: auto;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .volume_slider {
    width: 100%;

  }
  
  .current-time, .total-duration {
    text-align: center;
    color: white;
  }
  .current-time{
      margin-left: auto;
  }
  .total-duration{
      margin-right: auto;
  }
  
  .volume_container{
    display: flex;
    width: 50%;
    justify-self: center;
    margin-top: 22px;
    width: fit-content;
    
  }

  .volume_btn{
      display: flex;
      width:20px;
      height: 20px;
      background: white;
      border-radius: 250px;
      border: 1px solid black;
      margin: 0;
  }
 .play_container{
    display: flex;
    width: 50%;
    justify-self: center;
    margin-top: 22px;
    padding: 8px 0px;
    margin-left: 0px;
    margin-right: 0px;
 }

 .forwidth_slider{
     width:100%;
     justify-items: center;
     margin-left:20px;
 }
 .forwidth_volume{
     width: 100%;
     justify-self: right;
     padding:px 0px;
 }

 /*lyrics input*/
 .Lyrics_input{
     display: flex;
     flex-direction: column;
     margin-top: 15px;
     align-items:center ;
     justify-content: center;
     margin: auto;
     width: 100%;
 }
 .title_input{
    width: 50%;
    margin-left: 25%;
 }
 .field1{
     display: flex;
     flex-direction: column;
    align-content: center;
    align-items: center;
    margin: auto;
    margin-top: 15px;
    width:70%;

 }
 .field3{
     margin: auto;
 }
 
 #Input_Lyrics, #Input_title{
     width:90% ;
     height: 45px;
     border:2px solid grey;
     border-radius: 8px;
     background-color: rgb(212, 200, 200);
     background: transparent;
     caret-color: rgb(194, 104, 104);
     color: white;
     font-size: 30px;
     font-family: 'Courier New', Courier, monospace;
     
 }
 #Input_title{
    width:70%;
    font-size: 25px;
 }

 .score-btn{
     margin-top: 8px;
     width: fit-content;
 }
 
 .next-btn{
     margin-top: 40px;
     /*font-size: 25px;
     background: none;*/
 }


 #mobile_player{
     width: 0px;
     height: 0px;
     
 }
 .game_inst{
     text-align: center;
     color: white;
     margin: 10px 20px;
 }
 .long{
     margin-top: 8px;
     font-size: 22px
 }
 .new_text{
    margin: 10px 20px;
    font-size: 26px;
    color:white;
    text-align: center;
 }
 